// COLORS:

$WHITE: #ffffff;
$BLACK: #000000;
$GRAY: #767676;
$GREEN: #4dd599;
$L_GRAY: #f4f6f8;

// POPUP:
$N0: #c9d1d3;
$N1: #42b883;
$N2: #64c4ed;
$N3: #ffbbcc;
$N4: #b6e6bd;
$N5: #c355f5;
$N6: #09011a;
$N7: #ff6464;
