@import 'main';

.addTask {
  position: absolute;
  top: 20px;
  left: 10px;
  width: fit-content;
  min-width: 235px;
  background-color: $WHITE;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 18px 18px 15px;
  margin-top: 20px;
  z-index: 1;

  &Wrapper {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 100%;
    @include size(20px);
    border-radius: 50%;
    background-color: #5c5c5c;
    @include flex(center, center);
    cursor: pointer;
    &:hover &Icon {
      path {
        stroke: $GREEN;
      }
    }

    &Icon {
      @include size(10px);
      transform: rotate(45deg);
      path {
        @include transition(stroke);
        stroke: $WHITE;
      }
    }
  }

  &Input {
    width: 100%;
    @include text(rem(14px), 400, #c7c7c7);
    line-height: 120%;
    letter-spacing: 0.15px;
    border-radius: 4px !important;
    border: 1px solid #efefef;
    outline: none;
    padding: 7px 10px 8px;
    margin-bottom: 13px;
    &::placeholder {
      color: #c7c7c7;
    }
    &:focus {
      border-color: $GREEN;
    }
  }

  &Colors {
    width: 100%;
    @include flex(space-between, center);
    margin-bottom: 13px;
  }

  &Color {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }

    &Input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &Input:checked + &Label {
      border-color: #525252;
    }

    &Label {
      display: flex;
      @include size(20px);
      border-radius: 50%;
      background-color: $N0;
      border: 2px solid transparent;
      @include transition(border-color);
      cursor: pointer;
    }

    // .active {
    //   border-color: #525252;
    // }
  }
}
